@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.wrapper {
  min-height: 0;
  margin: 0 auto;
}

.landing-container {
  padding-bottom: 80px;

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid $color-dark;
  }

  .team-controls {
    margin-bottom: 40px;
  }

  .form-inline {
    label {
      font-size: 16px;
      margin-right: 20px;
    }

    .form-control {
      margin-right: 10px;
    }
  }
}

.features-list-container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $color-primary;
  border-top: 1px solid $color-dark;
  border-bottom: 1px solid $color-dark;

  .title {
    font-weight: bold;
  }

  h3,
  h4 {
    color: $color-white;
  }

  .features-table {
    min-height: 350px;
    max-height: 350px;
    overflow-y: scroll;
  }

  .table {
    background-color: $color-gray-light;

    .include {
      width: 10px;
    }

    .feature-description {
      max-width: 200px;
      white-space: nowrap;
      overflow-x: scroll;

      a {
        font-size: 16px;
        color: $link-color;
        font-weight: bold;
      }
    }

    .savings {
      width: 75px;
    }
  }
}

.buttons-container {
  padding: 80px 15px;

  .center-buttons {
    text-align: center;
    margin-top: 40px;

    a:not(:last-child) {
      margin-right: 25px;
    }
  }
}

.savings-banner {
  display: flex;
  position: absolute;
  min-height: 150px;
  max-height: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid $color-dark;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  background-color: $body-bg;

  .savings-text {
    display: block;
    margin-left: 20px;
  }

  .link-block {
    display: block;
    margin-right: 20px;
  }
}
