%div.table-responsive.compare-table
  %table.comparison-table.comparing-gitlab.products-page-comparison
    %colgroup
      %col{:width => "55%"}
      %col{:width => "15%"}
      %col{:width => "15%"}
      %col{:width => "15%"}
    %thead
      %tr
        %th.text-left.table-title
          FEATURES
        %th.text-center
          = product_one.short_name
        %th.text-center
          = product_two.short_name
        %th.text-center
          = product_three.short_name
    %tbody.header.first
      - data.comparisons.features.each do |feature|
        // CE
        - if ((feature.public_send(key_one) == true && feature.link != nil && feature.feature_page == true && feature.public_send(key_two) != nil && feature.public_send(key_three) != nil))
          = partial "includes/features/matrix-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
      - data.comparisons.features.each do |feature|
        // EE Starter
        - if (feature.public_send(key_one) == false && feature.public_send(key_two) == true && feature.public_send(key_three) != nil)
          = partial "includes/features/matrix-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
      - data.comparisons.features.each do |feature|
        // EE Premium
        - if (feature.public_send(key_two) == false && feature.public_send(key_three) == true)
          = partial "includes/features/matrix-row", locals: { key_one: key_one, key_two: key_two, key_three: key_three, feature: feature }
