---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitHub.com vs GitLab Self-hosted| GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
extra_js:
  - comparison.js
---

- competitors = data.comparisons.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.comparisons.comparisons.gitlab_self_hosted_vs_github_com, product_one: competitors.gitlab_self_hosted, product_two: competitors.github_com, key_one: :gitlab_self_hosted, key_two: :github_com }
