---
title: Return of Invesment Calculator
suppress_header: true
extra_css:
  - roi-calculator.css
extra_js:
  - libs/clipboard.min.js
  - roi-calculator.js
---

.wrapper
  .container-fluid.landing-container
    .row
      .col-md-8.col-md-offset-2
        .row
          .col-md-12
            %h1.text-center
              GitLab Enterprise ROI Calculator
            %h3.text-center
              This calculator simulates the potential return of invesment that you could realize
              by developing your software using GitLab Enterprise Edition.
            %hr
            %h4.text-center
              Enter your current metrics to calculate your potential results, then scroll them in detail
        .row.team-controls
          .col-md-6
            .form-inline
              %label
                Development team size
              %input.form-control.js-developer-team-size{ type: "number", min: 0, value: 1 }
          .col-md-6
            .form-inline
              %label
                Average employee cost per hour
              %input.form-control.js-cost-per-developer{ type: "number", min: 0, value: 1 }
        .row
          .col-md-12.savings-banner
            .savings-text
              %h3
                Provide your team size, developer cost and select features to see your potential savings
              %p
                With a $500 per year GitLab Enterprise Edition Premium subscription
            .link-block
              %h4
                Share your report
              .text-center
                %a.btn.btn-sm.btn-red.js-copy-link{ "data-clipboard-text": "" }
                  %span.fa.fa-link
                  Copy link

  .container-fluid.features-list-container
    .row
      .col-md-8.col-md-offset-2
        .row
          .col-md-12
            %h3.title
              Include or exclude features according to your needs
            %h4.subtitle
              Features marked with EEP are available only on GitLab Enterprise Edition Premium.
              Excluding all EEP features changes your subscription level to Enterprise Edition Starter.
        .row
          .col-md-12.features-table
            %table.table.table-striped
              %thead
                %th
                  Include
                %th
                  Feature
                %th
                  Savings
              %tbody    
                - data.comparisons.features.each do |feature|
                  - if feature.key?("roi_case")
                    %tr
                      %td.include
                        %input{ type:'checkbox', 
                                "data-hours-incident": feature.hours_per_incident, 
                                "data-incidents-year": feature.incidents_per_year,
                                "data-link-shorthand": feature.roi_shorthand }
                      %td.feature-description
                        = link_to feature.title, feature.link, target: '_blank', rel: 'noopener nofollow noreferrer'
                        %br
                        = feature.roi_case
                      %td.savings
                        $0.00

  .container-fluid.buttons-container
    .row
      .col-md-8.col-md-offset-2
        .row
          %h1.text-center
            Get GitLab Enterprise Edition for $199/user per year
        .row.center-buttons
          = link_to 'Explore Products', '/products', class: 'btn btn-lg btn-red', target: '_blank', rel: 'noopener nofollow noreferrer'
          = link_to 'Contact Sales', '/sales' ,class: 'btn btn-lg btn-red', target: '_blank', rel: 'noopener nofollow noreferrer'

= partial "includes/features/gitlab-ee-trial"
